<!-- Menyertakan file header.ejs dengan variabel lokal -->
<%- include('header.ejs', { pageTitle: 'Halaman Dashboard' }) %>

<!-- Isi utama untuk halaman register -->
<main class="w-full">
  <%- include('sidebar.ejs') %>

  <div class="p-4 sm:ml-64 mt-14">
    <h2>Dashboard</h2>
    <p>ID: <%= user.id %></p>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  </div>
</main>

<!-- Menyertakan file footer.ejs -->
<%- include('footer.ejs') %>
